body{
  margin:auto 10px auto 0;
  padding:10px;
  font-family: helvetica, arial, sans-serif;
  min-width:400px;
  font-size:15px;
  background:#ccd8bc;
  max-width:500px;
  height:300px;


}
textarea{
  padding-left:5px;
  height:100px;
  margin-right:10px;
  font-size:17px;
  font-family:arial;
  border:2px solid #0b2f50 ;
  border-radius:10px;
  outline:none;
  color:#0b2f50;
  grid-area:textarea;
  max-height:100px;
  width:400px;
  background-color:#f6faf1;
  max-width:500px;

}
button{
  background: #0b2f50;
  border:1px solid #0b2f50 ;
  font-size:17px;
  font-weight:bold;
  color:#f6faf1;
  border-radius:20px;
}
.clear-btn{
  color:#f6faf1;
  background:#ccd8bc;
  margin-left:-40px;
  margin-bottom:-60px;
  margin-top:1px;
  border:none;
  border-radius:100px;
  font-family:monospace;
}

#save-btn{
  grid-area:button1;
  width:100px;

}
#tab-btn{
  grid-area:button2;
  width:100px;
  padding-left:3px;
  padding-right:3px;
}
#clear-notes-btn {
 color:#0b2f50;
 background:#f6faf1;
 border:1px solid #0b2f50;
 font-size:17px;
 font-weight:bold;
 grid-area:column2;
 margin:auto 1px auto 1px;
 padding-top:3px;
 padding-bottom:3px;


}
#clear-tabs-btn{
  color:#0b2f50;
  background:#f6faf1;
  border:1px solid #0b2f50;
  font-size:17px;
  font-weight:bold;
  grid-area:column5;
  margin:auto 1px auto 1px;
  padding-top:3px;
  padding-bottom:3px;

}
.container{
  display:grid;
  grid-template-areas: "column1 column2";
  grid-gap:20px;
  width:150px;
  margin-bottom:-20px;

}
.container2{
  display:grid;
  grid-template-areas: "column4 column5";
  grid-gap:35px;
  margin-bottom:-20px;
  width:150px;

}
#Notes{
  grid-area:column1;
  padding-top:3px;
  padding-bottom:3px;
  font-size:20px;
  color:#0b2f50;
  max-width: 500px;
}
#Tabs{
  font-size:20px;
  grid-area:column4;
  padding-top:3px;
  padding-bottom:3px;
  color:#0b2f50;
  max-width: 500px;

  }
#ul-el{

  font-size:18px;
  margin-left:-10px

}
#ol-el{
  margin-left:-10px
}

ul li{
  color:#0b2f50;
  padding:2px;
}
a{
  color: #0b2f50

}

ol li{
  color:#0b2f50;
  padding:3px;
  font-size:18px;
}
#container3{
  display:grid;
  grid-template-areas:'textarea button1'
  'textarea button2';

  grid-row-gap:10px;

}
